@font-face {font-family: "font_family";
  src: url('iconfont.eot?t=1555850063245'); /* IE9 */
  src: url('iconfont.eot?t=1555850063245#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKsAAsAAAAABnwAAAJiAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfgpEVwE2AiQDDAsIAAQgBYURBzwbvwURFYxfsr9ANoYD7ysQrc43kvUH1Qji3DUvcgoX5DLUADGKCngBLAAAABAP/+1Hu29m/qxKdMQShyriSTW6J3ZTpVISjWSeyX9rzjqaMRnKkpxFj7aYlJ4uTQcB0Dx7gKoa4GmVGWzAKUaQcmA431WeouHy4Ks6a9BSM0FB/I/7qb+Go9n82QCsqiyLJtw+oIjikUSe73zkG8YueIHbCXSbsEJs2rLrkE6F3S8QVy9dOKWzYFcUFuoUasPU8i3mNDrT6zTPm+j+8U8eAUmT2UP3nd981rqffnbnR22OBggHAc5ukLEChTjS6N8nC0bJuv3FAo7VLvhZez8FSnFUaiL+Oje8FyyBgcRPHo3gZzMkkEEtNndhfIFTCJHr3RudHrl249DtVd8SLr99mzv+KWIdaB9lcwLBfM01wIKeAj78zMjaPqoNM9K5C0PwO7LqtG2Ns2xFLhpPJ90yZnWAL6HbMGnZ5mEfpwvHBkcTeoxNMHaYyiDrsRgtpJVoQ1qNVtI26Lbcwdk9RjyQRenCMvMAwrh3kPR7D9m4T2gh/UcacqzQSlpDtyMBYcmVQ9SJsRJsof7D0FhDrkwi/8OCKj2o/x27RVVcyU0vfSPPgzWQxWlD6IYGebkR86fLRQiIrYZrj91QKQuO7YiNxL2IOyYJNUniBp7Bi5wYK8EW1H8wNNZQYJYoQYtvU+lB/e/YLari7hIakt/I89DRGpCJpcPQG98MLXjEVeZPlxMhQAyCGlwX6YRKWeCaO43YSKyf4HVHiVOOhvLjywv1H6+AbvbsHClyFP7loTJilyDSZZ4H') format('woff2'),
  url('iconfont.woff?t=1555850063245') format('woff'),
  url('iconfont.ttf?t=1555850063245') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1555850063245#font_family') format('svg'); /* iOS 4.1- */
}

.font_family {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e609";
}

.icon-jiantou1:before {
  content: "\e60a";
}

