@charset "UTF-8";
.inp{border:1px solid #cfcfcf;height: 30px;line-height: 30px;margin-right: 3em;padding: 0 5px;min-width: 170px;}
.inp_small{
    width: 80px;
    min-width: unset;
    margin-right: 1em;
}
.del,.add{
    cursor: pointer;
}
textarea.inp2{
    flex: 1;
    margin-right: 0;
    height: 7em;
    padding: 5px;
    line-height: 1.5;
}
.btn{
    height: 32px;
    line-height: 32px;
    display: inline-block;
    border-radius: 3px;
    background:#2672d1;
    color:#FFF;
    text-align: center;
    padding: 0 2.5em;
    letter-spacing: 2px;
}
.btn_y{background: #ff8a00;}
.btn_blue{
    border:1px solid #2672d1;
    color: #2672d1;
    border-radius: 3px;
    background: linear-gradient(#FFF,#b4d5fe);
    display: block;
    line-height: 2;
    padding: 0 1em;
    margin-right: 1em;
}
.margr{
    margin-right: 1em;
}
#header{
    background:#093368;
    color:#FFF;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #d5d5d5;
}
#header .logo{
    font-size: 28px;
}
#header a{
    color: #FFF;
}
#footer{
    background: #f6f6f6;
    color:#767676;
    text-align: center;
    border-top: 3px solid #6494d5;
    margin-top: 13px;
    padding: 38px 0;
    font-size: 12px;
}
#footer .s1{
    display: inline-block;
}
#footer .s1 + .s1{
    margin-left: 2em;
}
/* 主内容 */
#main{
    display:flex;
    background: #FFF;
}
/* menu */
#menu{
    width: 190px;
    border-right: 1px solid #e1e1e1;
    box-sizing: border-box;
    padding: 20px 14px 45px;
}
#menu .tit{
    font-size: 16px;
    background: #2672d1;
    color:#FFF;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 14px;
    height: 32px;
    border-radius: 3px;
    white-space: nowrap;
}
#menu .tit:after {
    content: '';
    width:13px;
    height: 6px;
    background: url("../images/jiantou.svg") no-repeat;
    display: block;
}
#menu .list {
    font-size: 13px;
    padding: 7px;
}
#menu .list a{
    display: block;
    padding: 7px 0;
}
#menu .list a:before{
    font-family: 'font_family';
    content: '\e609';
    margin-right: 4px;
    color: #909090;
    font-size: 13px;
    transform: scale(0.7,0.7);
    display: inline-block;
}
#menu .list a.act,
#menu .list a:hover,
#menu .list a.act:before,
#menu .list a:hover:before{
    color:#f54c4c;
}

/* 内容 */
#content{
    flex: 1;
}
#content h1{
    color: #191919;
    font-size: 16px;
    font-weight: normal;
    line-height: 3;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 30px;
}
/* 展示区 */
.content{
    padding: 0 20px 20px;
}
/* 筛选 */
.filter{
    border-bottom: 3px solid #2672d1;
    padding: 18px 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.filter .lab{
    margin-right: 1em;
    min-width: 4em;
    display: inline-block;
}
.filter .lab2{
    min-width: unset;
}
.filter2{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.filter .flex1{
    align-items: baseline;
}
.filter .flex1 .inline{
    line-height: 2;
}
.filter .flex2{
}
.filter .flex2 li{
    display: flex;
    align-items: flex-start;
}
.filter .flex2 labe,
.filter3 .d2 p label{
    position: relative;
    margin-right: 0;
    margin-bottom: .5em;
}
.filter .flex2 .del,
.filter3 .d2 p .del,
.filter .flex2 .delAll,
.filter3 .d2 p .delAll{
    position: absolute;
    right: 14px;
    bottom: 0;
}
.filter .flex2 .btn{
    padding: 0 .8em;
}
.filter .flex2 .d1{
    display: flex;
}
.filter2 li{
    display: flex;
    align-items: center;
}
.filter2 li + li{
    margin-top: 1em;
}
.filter label{
    margin-right: 1em;
    display: inline-block;
    color: #010101;
    position: relative;
    /* float: left; */
}

.filter label.lab1{
    margin-right: 0;
}
input[type='checkbox']{
    vertical-align: middle;
    margin-right: 4px;
    width: 15px;
    height: 15px;
}
.inline{
    display: inline-block;
}
.filter3{
    align-items: flex-start;
    line-height: 32px;
}
.filter3 .d1{
    text-align: right;
    margin-right: 1em;
    white-space: nowrap;
}
.filter3 p + p{
    margin-top: 1em;
}
.filter3 .d2 p{
    display: flex;
    align-items: baseline;
}
.filter3 .d2 p .inp{
    margin-right: 14px;

}
.filter4 .lab{
    text-align: right;
    width: 7em;
    flex-shrink: 0;
}
.filter4 .h2{
    font-size: 14px;
    border-top: 1px solid #cfcfcf;
    width: 100%;
    padding-top: 1em;
    color: #333;
}
.filter3.filter5 .d2 p{align-items:
center;}
.filter3.filter5 .d2 p span.blue.del{position:unset;}
/*缩略图*/
.tn{
    border: 1px solid #fcfcfc;
    width: 40px;
    height: 40px;
}
.tn .img1{
    width: 100%;
    height: 100%;
}
.filter .flex2 .tn .del{
    right: 0;
}
.filter .flex1.flex3{
    align-items: center;
}
.filter .flex1.flex3 .blue{
    margin-right: 1em;
}
.filter .flex1.flex3 .btn_blue{
    min-width: 4em;
}
/* 结果 */
.result{}
.result .tab{
    width: 100%;
    border-collapse: collapse;
    margin: 18px auto;
}
.result .tab caption{
    background: #cfe1f7;
    text-align: left;
    color: #191919;
    line-height: 32px;
    padding-left: 10px;
}
.tab th,
.tab td{
    white-space: nowrap;
    text-align: center;
    line-height: 35px;
    padding: 0 1em;
    font-size: 13px;
}
.tab tr {
    border-bottom:1px solid #e6e7e8;
}
.tab th{
    color:#444;
    font-weight: normal;
    background: #f4f5f9;
}
.tab td {
    color: #666;
}
.tab .img{vertical-align: middle;}
.tab1 th,
.tab1 td,
.tab3 td{
    border:1px solid #e6e7e8;
}
.tab3 td{
    padding: 1em;
}